<h1>Post: <%= @post.title %></h1>

<h1>Update your Comment</h1>

<%= form_for @comment, url: post_comment_path(@post, @comment) do |f| %>
  <%= f.text_field :paragraph %>
  <br>
  <%= f.submit "update" %>
<% end %>


