<h1>User:</h1>

<%= form_for :user, url: users_path do |f| %>
  <%= f.text_field :username, placeholder: "username"%>
  <br>
  <%= f.text_field :password, placeholder: "password" %>
  <br>
  <%= f.submit "Create User" %>
<% end %>

