body {
  font-family: Verdana;
  font-size: 10px
}

#container {
  background-color: rgb(246, 246, 239);
  width: 80%;
  margin: 0 auto;
  height: 1000px;
}

header {
  background-color: rgb(255, 102, 0);
  width: 80%;
  margin: 0 auto;
  line-height: 12pt;
  padding-bottom: 10px;
  padding-right: 4px;
}
header img, header h2, ul{
  display: inline; 
}

header img{
  border:1px solid white;
}

header a{
  text-decoration: none;
  color: black;
}

#right_list{
  float:right;
}

#left_list{
}

header ul li {
  display: inline;
  list-style-type: none;
}
